<html class="backgroundimage1" style='margin: -10px'>
<a href="./index.html">
  <img align='left' max-height='100%' width='100px' style='margin:10px' src='../images/Makers-Logo1.png'>
</a>
<a href="https://github.com/DanGyi23/wk6-MakersBnB">
  <img align='right' height='50' width='50' style='margin:10px;margin-left: -60px'
    src='https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg'>
</a>

<link rel="stylesheet" href="style.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="../booking-confirmed-interface.js"></script>
<br>
<br>
<br>
<br>
<div class='imageoverlaybox'>
  <h1> Booking Confirmed! </h1>
  <br>
  <br>
  <h3 class='centreall'> You'll be staying at <span id='hostname'>(Host)'s</span> on <span id='datebooked'>(Date)</span>
    <br>
    <br>
    <br>
    You'll receive a confirmation email shortly.
  </h3>
</div>


</html>