<html>
<a href="https://github.com/DanGyi23/wk6-MakersBnB">
  <img align='right' height='50' width='50' style='margin:10px;margin-left: -60px'
    src='https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg'>
</a>

  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="../listing-interface.js"></script>
<div class='row'>

</div>

<div class="twocolumns">
  <form id='createnewlistingform'>
    <br style="line-height: 4">
    <img class='icon' src="https://i.ibb.co/0MXjHVD/500px-Pound-Sign-svg.png"></img>
    <input class='inputfields' type="text" id='price_per_night' placeholder="Price per Night">
    <br style="line-height: 2">
    <img class='icon' src="https://i.ibb.co/KrsjSz3/44-512.png"></img>
    <input class='inputfields' type="text" id='property_type' placeholder="Property Type">
    <br style="line-height: 2">
    <img class='icon' src="https://i.ibb.co/C9NhBt9/capacity-1751048-1489102.png"></img>
    <input class='inputfields' type="text" id='capacity' placeholder="Capacity">
    <br style="line-height: 2">
    <img class='icon' src="https://i.ibb.co/DQwznwm/86-861779-location-icon-clipart.jpg"></img>
    <input style="margin-left: 43px" class='inputfields' type="text" id='location' placeholder="Location">
    <br style="line-height: 2">
    <img class='icon' src="https://i.ibb.co/TWTCMtW/f70f75e98b.png"></img>
    <input class='inputfields' type="text" id='size' placeholder="Size in square meters">
    <br style="line-height: 2">
    <img class='icon' src="https://i.ibb.co/g4ZyjJb/38744-200.png" border="0"></img>
    <input class='inputfields' type="text" id='bathrooms' placeholder="Number of Bathrooms">
    <br style="line-height: 2">
    <img class='icon' src="https://i.ibb.co/S7VF93H/bed-512.png" border="0"></img>
    <input class='inputfields' type="text" id='beds' placeholder="Number of Beds">
    <br style="line-height: 2">
    <img class='icon' src="https://i.ibb.co/1KpJn8r/53524.png" border="0"></img>
    <input class='inputfields' type="text" id='wifi' placeholder="WiFi Available?">
    <br style="line-height: 2">
    <img class='icon' src="https://i.ibb.co/RDQc2rp/hotel-laundry-wash-washing-machine-512.png" border="0"></img>
    <input class='inputfields' type="text" id='washing_machine' placeholder="Washing Machine Available?">
    
    <div>
      <br style="line-height: 2">
      <a href='./listingsubmitted.html'>
        <button id='submitlisting' class='submitlistingbutton' type='submit'>
          Submit Listing!
        </button>
      </a>
    </div>
  </form>


</div>




</html>