<html>
<div style='margin:-20px;' class='backgroundimage3'>

  <a href="./index.html">
    <img align='left' max-height='100%' width='100px' style='margin:10px' src='../images/Makers-Logo2.png'>
  </a>

  <a href="https://github.com/DanGyi23/wk6-MakersBnB">
    <img align='right' height='50' width='50' style='margin:10px;margin-left: -60px'
      src='https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg'>
  </a>

  <div>
    <p><br style="line-height: 3"></p>
    <a href='./create-listing.html'>
      <br style="line-height: 4">
      <button id='create-listing' class='createlistingbutton' type='submit'>
        Sign Up To Become A Host
      </button>
    </a>
    <div class='header-image'>
      <img src="https://i.ibb.co/FJRwL46/makers-logo-lockupv-black.png" border="0" /></img>
    </div>
  </div>



  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="../index-interface.js"></script>
  <br style="line-height: 3">

  <div class="row">

    <br style="line-height: 2">
    <div class="column">
      <br style="line-height: 4">
      <div id="loggedinuser"></div>
      Welcome to Makers BnB, your homes away from home.
      <br>
      Browse the properties to the right and make a booking!
      <br>
      Sign up below and get booking!

      <div>
        <br style="line-height: 8">
        <form class='signupform' id='signupform'>
          <input style='width:55%;height:3%;font-size: 14px' type="text" id='name' placeholder="Enter your Name">
          <p></p>
          <input style='width:55%;height:3%;font-size: 14px' type="text" id='email' placeholder="Email">
          <p></p>
          <input style='width:55%;height:3%;font-size: 14px' type="text" id='password' placeholder='Password'>
          <p></p>
          <input style='width:55%;height:3%;font-size: 14px' type="text" id='passwordconfirm'
            placeholder='Confirm your Password'>
          <p><br></p>
          <div class='buttonholder'>
            <a href='./index.html'>
              <button id='submitsignup' class='bookingbutton' type='submit'>
                Sign Up
              </button>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="column">
    <br style="line-height: 4">

    <div id="listings">

    </div>


  </div>


</div>

</div>


</html>