<html>

<link rel="stylesheet" href="style.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="../interface.js"></script>


<div class="row">
  <img class='header-image' src="https://i.ibb.co/FJRwL46/makers-logo-lockupv-black.png" alt="makers-logo-lockupv-black"
    border="0" /></img>
  <div class="column">
    <div id="loggedinuser"></div> 
    Welcome to Makers BnB, your homes away from home.
    <br>
    Browse the properties to the right and make a booking!
  </div>

  <div class="column">
    <h2>Available Listings</h2>
    <br>
    <br>
    <div class='listingcontainer'>
      <h3 id=listing1-title>Property Name</h3>
      <img class="listingthumbnail" id="listing1thumb" src="https://i.ibb.co/FJRwL46/makers-logo-lockupv-black.png" border="0"' /></img>
      This is an example of listing #1
      <p class="propertylocation" id="property1location">Property Location</p>
      <p class="price" id="property1price">Placeholder Price</p>
    </div>

    <div class='listingcontainer'>
      <h3 id=listing2-title>Property Name</h3>
      <img class="listingthumbnail" id="listing2image" src="https://i.ibb.co/FJRwL46/makers-logo-lockupv-black.png" border="0"' /></img>
      This is an example of listing #2
      <p class="propertylocation" id="property2location">Property Location</p>
      <p class="price" id="property2price">Placeholder Price</p>
    </div>

    <div class='listingcontainer'>
      <h3 id=listing3-title>Property Name</h3>
      <img class="listingthumbnail" id="listing3image" src="https://i.ibb.co/FJRwL46/makers-logo-lockupv-black.png" border="0"' /></img>
      This is an example of listing #3
      <p class="propertylocation" id="property3location">Property Location</p>
      <p class="price" id="property3price">Placeholder Price</p>
    </div>

    <div class='listingcontainer'>
      <h3 id=listing4-title>Property Name</h3>
<img class="listingthumbnail" id="listing4image" src="https://i.ibb.co/FJRwL46/makers-logo-lockupv-black.png" border="0"' /></img>      This is an example of listing #4
      <p class="propertylocation" id="property4location">Property Location</p>
      <p class="price" id="property4price">Placeholder Price</p>
    </div>

    <div class='listingcontainer'>
      <h3 id=listing5-title>Property Name</h3>
      <img class="listingthumbnail" id="listing3image" src="https://i.ibb.co/FJRwL46/makers-logo-lockupv-black.png" border="0"' /></img>
      This is an example of listing #5
      <p class="propertylocation" id="property5location">Property Location</p>
      <p class="price" id="property5price">Placeholder Price</p>
    </div>
  </div>

</div>


</html>