<html style='margin: -10px'>
<div class='backgroundimage2'>
  <a href="./index.html">
    <img align='left' max-height='100%' width='100px' style='margin:20px' src='../images/Makers-Logo1.png'>
  </a>
  <a href="https://github.com/DanGyi23/wk6-MakersBnB">
    <img align='right' height='50' width='50' style='margin:10px;margin-left: -60px'
      src='https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg'>
  </a>

  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="../listing-interface.js"></script>

  <br style="line-height: 7">
  <h1 style='color:rgba(215, 248, 250, 0.83); text-shadow: 2px 2px 2px dimgrey' id="dbpropertyname">dbpropertyname</h1>
  <br style="line-height: 10">
</div>


<div class="row">
  <br style="line-height: 3">
  <div style="margin-left: 12rem;margin-right: 12rem;" class='descriptioncontainer2'>
    <h2 id="dbpropertyname2"></h2>
    <h4 id="dbpropertydescription">dbpropertydescription</h4>
  </div>

  <div class="columnlist">
    <br style="line-height: 4">
    <img class='icon' src="https://i.ibb.co/0MXjHVD/500px-Pound-Sign-svg.png"></img>
    <h2 class='textalign' id="dbprice" style='font-weight: bold;'>dbprice</h2>
    <br style="line-height: 2">
    <img class='icon' src="https://i.ibb.co/KrsjSz3/44-512.png"></img>
    <h3 id="dbpropertytype">dbpropertytype</h3>
    <br style="line-height: 2">
    <img class='icon' src="https://i.ibb.co/C9NhBt9/capacity-1751048-1489102.png"></img>
    <h3 class='textalign' id="dbcapacity">dbcapacity</h3>
    <br style="line-height: 2">
    <img class='icon' src="https://i.ibb.co/DQwznwm/86-861779-location-icon-clipart.jpg"></img>
    <h3 class='textalign' id="dblocation">dblocation</h3>
    <br style="line-height: 2">
    <img class='icon' src="https://i.ibb.co/XXyHkrd/501-01-512.png"></img>
    <h3 class='textalign' id="dbavailability">dbavailability</h3>
    <br style="line-height: 2">
    <img class='icon' src="https://i.ibb.co/TWTCMtW/f70f75e98b.png"></img>
    <h3 class='textalign' id="dbsize">dbsize</h3>
    <br style="line-height: 2">
    <img class='icon' src="https://i.ibb.co/g4ZyjJb/38744-200.png" border="0"></img>
    <h3 class='textalign' id="dbbathrooms">dbbathrooms</h3>
    <br style="line-height: 2">
    <img class='icon' src="https://i.ibb.co/S7VF93H/bed-512.png" border="0"></img>
    <h3 class='textalign' id="dbbeds">dbbeds</h3>
    <br style="line-height: 2">
    <img class='icon' src="https://i.ibb.co/1KpJn8r/53524.png" border="0"></img>
    <h3 class='textalign' id="dbwifi">dbwifi</h3>
    <br style="line-height: 2">
    <img class='icon' src="https://i.ibb.co/RDQc2rp/hotel-laundry-wash-washing-machine-512.png" border="0"></img>
    <h3 class='textalign' id="dbwashingmachine">dbwashingmachine</h3>

  </div>
</div>




<div id='datesavailable'>

</div>
<div class='buttonholder'>
  <p><br style="line-height: 2"></p>
  <p1> Select The Date You'd Like to Book This Property </p1>
  <p><br style="line-height: 2"></p>

  <div>
    <form>
      <select id='selectdate'>
      </select>
      <p><br style="line-height: 1"></p>

      <a href='./booking-confirmed.html'>
        <button id='requestbooking' class='bookingbutton' type='submit'>
          Request Booking Now!
        </button>
      </a>
  </div>
  </form>
</div>

</html>