<html>
<link rel="stylesheet" href="style.css">

<h1 id="dbpropertyname">dbpropertyname</h1>

<h3 id="dbpropertydescription">dbpropertydescription</h3>
<br>
<br>
<h2 id="dbprice" style='font-weight: bold;'>dbprice</h2>
<br>
<br>
<h3 id="dbpropertytype">dbpropertytype</h3>
<br>
<br>
<h3 id="dbcapacity">dbcapacity</h3>
<br>
<br>
<h3 id="dblocation">dblocation</h3>
<br>
<br>
<h3 id="dbavailability">dbavailability</h3>
<br>
<br>
<h3 id="dbsize">dbsize</h3>
<br>
<br>
<h3 id="dbbathrooms">dbbathrooms</h3>
<br>
<br>
<h3 id="dbbeds">dbbeds</h3>
<br>
<br>
<h3 id="dbwifi">dbwifi</h3>
<br>
<br>
<h3 id="dbwashingmachine">dbwashingmachine</h3>

</html>