<html>

<a href="https://github.com/DanGyi23/wk6-MakersBnB">
  <img align='right' height='50' width='50' style='margin:10px;margin-left: -60px'
    src='https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg'>
</a>

<link rel="stylesheet" href="style.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="../listing-interface.js"></script>


<h1 id="dbpropertyname">dbpropertyname</h1>
<br>
<br>
<br>
<h3 class= 'descriptioncontainer' id="dbpropertydescription">dbpropertydescription</h3>
<br>
<br>
<br>
<img class='icon' src="https://i.ibb.co/0MXjHVD/500px-Pound-Sign-svg.png"></img>
<h2 class='textalign' id="dbprice" style='font-weight: bold;'>dbprice</h2>
<br>
<br>
<img class='icon' src="https://i.ibb.co/KrsjSz3/44-512.png"></img>
<h3 id="dbpropertytype">dbpropertytype</h3>
<br>
<br>
<img class='icon' src="https://i.ibb.co/C9NhBt9/capacity-1751048-1489102.png"></img>
<h3 class='textalign' id="dbcapacity">dbcapacity</h3>
<br>
<br>
<img class='icon' src="https://i.ibb.co/DQwznwm/86-861779-location-icon-clipart.jpg"></img>
<h3 class='textalign' id="dblocation">dblocation</h3>
<br>
<br>
<img class='icon' src="https://i.ibb.co/XXyHkrd/501-01-512.png"></img>
<h3 class='textalign' id="dbavailability">dbavailability</h3>
<br>
<br>
<img class='icon' src="https://i.ibb.co/TWTCMtW/f70f75e98b.png"></img>
<h3 class='textalign' id="dbsize">dbsize</h3>
<br>
<br>
<img class='icon' src="https://i.ibb.co/g4ZyjJb/38744-200.png" border="0"></img>
<h3 class='textalign' id="dbbathrooms">dbbathrooms</h3>
<br>
<br>
<img class='icon' src="https://i.ibb.co/S7VF93H/bed-512.png" border="0"></img>
<h3 class='textalign' id="dbbeds">dbbeds</h3>
<br>
<br>
<img class='icon' src="https://i.ibb.co/1KpJn8r/53524.png" border="0"></img>
<h3 class='textalign' id="dbwifi">dbwifi</h3>
<br>
<br>
<img class='icon' src="https://i.ibb.co/RDQc2rp/hotel-laundry-wash-washing-machine-512.png" border="0"></img>
<h3 class='textalign' id="dbwashingmachine">dbwashingmachine</h3>
<br>
<br>
<br>
<div class='buttonholder'>
<a href='./booking-confirmed.html'>
<button id='requestbooking' class ='bookingbutton' type='submit'>
Request Booking Now!
</button>
</a>
</div>
</html>